name: 52破解签到

on:
    workflow_dispatch:
    schedule:
        - cron: 0 22 * * *
    watch:
        types: [started]
jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.repository.owner.id == github.event.sender.id
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: "Set up Python"
              uses: actions/setup-python@v1
              with:
                  python-version: 3.7

            - name: "安装依赖包"
              run: pip install -r ./requirements.txt

            - name: "运行 52破解签到"
              run: python3 $GITHUB_WORKSPACE/checkin/52pojie/52pojie.py
              env:
                  POJIE_COOKIE: ${{ secrets.POJIE_COOKIES }}
                  PUSH_KEY: ${{ secrets.PUSH_KEY }}
